name: Automation Test - Final Project

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  cucumber-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Run API Tests
        run: ./gradlew apiTest
        continue-on-error: true

      - name: Run Web UI Tests
        run: ./gradlew webTest
        continue-on-error: true

      - name: Upload Cucumber Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cucumber-reports
          path: |
            build/reports/
            target/
            build/test-results/
